/* main-body-section starts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-bottom: 50px;
}
/* main-body-section ends */



/* header-section-starts  */

header{
    background-color: #F0FFF0;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

/* menu-section starts */

.font-color{
    color: #010003;
}
.menu a{
    padding:8px 20px !important;
    border-radius: 33px;
    color:black;
    font-size: 17px;
    transition: all ease-in-out .3s;
}
.menu a:hover{
    font-size: 17px;
    border: none;
    background-color: #21B573;
    color: #fff !important;
    padding: 8px 20px !important;
    border-radius: 20px;
}
li span a {
    color:black !important;
}

/* menu-section ends */

/* banner-section-starts  */
.banner h1 span{
    color: #21B573;
}
.banner h1 {
    font-weight:bold;
    color:#000000;
    font-size:48px;
}
.get-started{
    padding: 12px 36px;
    border: 1px solid  #21B573;
    background-color: transparent;
    border-radius: 33px;
    transition: all ease-in-out .3s;
    font-size: 14px;
}
.get-started:hover{
    background-color:  #21B573;
    color: #fff;
    cursor:pointer;
}
/* banner-section-ends  */
/* header-section-ends  */


/* display-feature-section starts */
.feature{
    height: 270px;
    width: 270px;
    border-radius: 10px;
    background-color: #F8FFFB;
    transition: all ease-in-out .4s;
}
.feature:hover{
    box-shadow: 1px 8px 20px rgb(0, 0, 0,.15);
    background-color: #fff;
    cursor:pointer;
}
.feature h5{
    font-size: 24px;
    font-weight:500;
    color:#413960
}
.feature-section p {
    color:#585859;
}
.bg-color {
     background-color:rgba(229, 241, 239, 0.363);
}
/* display-feature-section  ends*/

/* Online-courses-section starts  */
 .course-section-color h2,h5{
     color:#413960;
 }
 .course-section-color h2{
    font-size:36px;
}
.course-section-color h5{
    font-size:24px;
}
.buy-course{
    padding: 8px 20px;
    border: 1px solid  #21B573;
    background-color: transparent;
    border-radius: 33px;
    transition: all ease-in-out .3s;
    font-size: 16px;
}
.buy-course:hover{
    background-color:  #21B573;
    color: #fff;
    cursor:pointer;
}

.card-sizzing{
    padding: 15px;
    border: none;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.card-foot{
    border-top: none;
    background-color: #fff;
}
.card-footer-logo{
    width: 24px;
    height: 24px;
}

small{  
    font-size: 14px; 
    font-weight: 500;
    color:#585859;
    }
/* Online-courses-section ends */
/* Testimonial-section  starts*/
.testimonial h2 {
    font-weight:700;
    color:#000000;
}
.testimonial p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}
/* Testimonial-section  ends*/

/* form-section starts */
.form-section {
    color:#000000;
    font-size:16px;
}
input,option {
    border:1px solid #299c6975 !important;
}
.form-section h3 {
    font-weight:700 ;
    padding:50px;
}
/* form-section ends */

/* footer-section starts */
footer{
    background-color: #282531;
    color:white;
    text-align:justify;
    background-position: cover;
    
}
footer li{
list-style-type: none;
}
footer li a{
color: #fff;
font-weight: 400;
line-height: 30px;
}
footer li a:hover{
color: #fff;
}
footer span {
    color:#CDCDCD;
    padding-bottom:50px;
}
/* footer-section ends */
